
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_FoodLayout.cshtml";
}

<div class="row" style="height:150px"></div>
<h2 class="container text-center bg-gradient">Contact Us</h2>

<div class="row" style="height:30px"></div>

<div class="container text-center">
    <div class="">
        Please reach out through a mail <a href="mailto:Fastfoodrestaurant@gmail.com" class="SiteAnchor-sm">Fastfoodrestaurant@gmail.com</a> for assistance.<br />
        or<br />
        Phone  : 11-22-33-9999


    </div>
</div>

